In [143]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver

**ACTION**

In [153]:
driver = webdriver.Edge()

In [154]:
driver.get(f"https://www.imdb.com/search/title/?genres=action")

In [175]:
soup = BeautifulSoup(driver.page_source,"lxml")

In [176]:
mo =soup.find("ul",class_="ipc-metadata-list ipc-metadata-list--dividers-between sc-315eec58-0 hvFmRn detailed-list-view ipc-metadata-list--base")

In [177]:
data = []
for x in mo.find_all("div",class_= "ipc-html-content-inner-div"):
    data.append(x.text)

In [178]:
len(data)

999

In [179]:
import pandas as pd
df = pd.DataFrame({"action": data})

In [180]:
df

                                                action
0    Itinerant former military policeman Jack Reach...
1    Follows a master thief and his Interpol Agent ...
2    Maya Lopez must face her past, reconnect with ...
3    One man's brutal campaign for vengeance takes ...
4    Demigod Percy Jackson leads a quest across Ame...
..                                                 ...
994  Follows Nikki Batista after she joins the Phil...
995  Bruce Banner, a genetics researcher with a tra...
996  The world's deadliest assassin and New York's ...
997  A brilliant scientist's discovery renders him ...
998  Cash is trying to live an honest and quiet lif...

[999 rows x 1 columns]

In [181]:
df.to_csv("action.csv")

**ROMANCE**

In [182]:
driver = webdriver.Edge()

In [183]:
driver.get(f"https://www.imdb.com/search/title/?genres=romance")

In [189]:
soup = BeautifulSoup(driver.page_source,"lxml")

In [190]:
mo =soup.find("ul",class_="ipc-metadata-list ipc-metadata-list--dividers-between sc-315eec58-0 hvFmRn detailed-list-view ipc-metadata-list--base")

In [191]:
data = []
for x in mo.find_all("div",class_= "ipc-html-content-inner-div"):
    data.append(x.text)

In [192]:
len(data)

1050

In [193]:
df = pd.DataFrame({"romance": data})
df

                                                romance
0     The incredible tale about the fantastical evol...
1     When oil is discovered in 1920s Oklahoma under...
2     After an amazing first date, Bea and Ben's fie...
3     A drama centered on the personal and professio...
4     Emma has a wonderful husband and two kids in t...
...                                                 ...
1045  A panicked young woman, with her reluctant fri...
1046  A frigid young housewife decides to spend her ...
1047  A grown-up woman who kept her childish instinc...
1048  Centers on two toxic, self-destructive people ...
1049  The social and class divisions in early 20th c...

[1050 rows x 1 columns]

In [194]:
df.to_csv("romance.csv")

**THRILLER**

In [195]:
driver = webdriver.Edge()

In [196]:
driver.get(f"https://www.imdb.com/search/title/?genres=thriller")

In [202]:
soup = BeautifulSoup(driver.page_source,"lxml")

In [203]:
mo =soup.find("ul",class_="ipc-metadata-list ipc-metadata-list--dividers-between sc-315eec58-0 hvFmRn detailed-list-view ipc-metadata-list--base")

In [204]:
data = []
for x in mo.find_all("div",class_= "ipc-html-content-inner-div"):
    data.append(x.text)

In [205]:
len(data)

999

In [206]:
df = pd.DataFrame({"thriller": data})
df

                                              thriller
0    Anthology series in which police investigation...
1    A student at Oxford University finds himself d...
2    Itinerant former military policeman Jack Reach...
3    Various chronicles of deception, intrigue, and...
4    Widowed mum Maya is disturbed by an image of h...
..                                                 ...
994  One of the world's top bodyguards gets a new c...
995  An attorney intending on climbing the career l...
996  An ambitious young executive is sent to retrie...
997  A covert team of immortal mercenaries is sudde...
998  James Bond uncovers a nuclear plot while prote...

[999 rows x 1 columns]

In [207]:
df.to_csv("thriller.csv")

**COMEDY**

In [208]:
driver = webdriver.Edge()

In [209]:
driver.get(f"https://www.imdb.com/search/title/?genres=comedy")

In [216]:
soup = BeautifulSoup(driver.page_source,"lxml")

In [217]:
mo =soup.find("ul",class_="ipc-metadata-list ipc-metadata-list--dividers-between sc-315eec58-0 hvFmRn detailed-list-view ipc-metadata-list--base")

In [218]:
data = []
for x in mo.find_all("div",class_= "ipc-html-content-inner-div"):
    data.append(x.text)

In [219]:
len(data)

1050

In [220]:
df = pd.DataFrame({"comedy": data})
df

                                                 comedy
0     A student at Oxford University finds himself d...
1     The incredible tale about the fantastical evol...
2     Cady Heron is a hit with the Plastics, an A-li...
3     It's 1993, and Ted the bear's moment of fame h...
4     A young chef from the fine dining world return...
...                                                 ...
1045  Divorced contractor Frank Lambert and widowed ...
1046  A young African-American teen attempts to surv...
1047  Having thought that monogamy was never possibl...
1048  A spoof on previous years' epic movies (The Da...
1049  The life of a twelve-year-old boy who happens ...

[1050 rows x 1 columns]

In [221]:
df.to_csv("comedy.csv")

**ANIMATION**

In [222]:
driver = webdriver.Edge()

In [223]:
driver.get(f"https://www.imdb.com/search/title/?genres=animation")

In [229]:
soup = BeautifulSoup(driver.page_source,"lxml")

In [230]:
mo =soup.find("ul",class_="ipc-metadata-list ipc-metadata-list--dividers-between sc-315eec58-0 hvFmRn detailed-list-view ipc-metadata-list--base")

In [231]:
data = []
for x in mo.find_all("div",class_= "ipc-html-content-inner-div"):
    data.append(x.text)

In [232]:
len(data)

949

In [233]:
df = pd.DataFrame({"animation": data})
df

                                             animation
0    In an attempt to find a non-violent alternativ...
1    In a world of gifted hunters and monsters, a w...
2    A young boy named Mahito yearning for his moth...
3    Monkey D. Luffy sets off on an adventure with ...
4    The fractured domestic lives of a nihilistic m...
..                                                 ...
944  The year is 2242. Kanata wants to be a Drifter...
945  After 74 villains break out of prison, Marvel'...
946  A slight malfunction causes Chaos Control, and...
947  Animated fable about a cliché hunchbacked evil...
948  The story of two 30-year old bird women who li...

[949 rows x 1 columns]

In [234]:
df.to_csv("animation.csv")

**DRAMA**

In [235]:
driver = webdriver.Edge()

In [236]:
driver.get(f"https://www.imdb.com/search/title/?genres=drama")

In [242]:
soup = BeautifulSoup(driver.page_source,"lxml")

In [243]:
mo =soup.find("ul",class_="ipc-metadata-list ipc-metadata-list--dividers-between sc-315eec58-0 hvFmRn detailed-list-view ipc-metadata-list--base")

In [244]:
data = []
for x in mo.find_all("div",class_= "ipc-html-content-inner-div"):
    data.append(x.text)

In [245]:
len(data)

1000

In [246]:
df = pd.DataFrame({"drama": data})
df

                                                 drama
0    Anthology series in which police investigation...
1    A student at Oxford University finds himself d...
2    Itinerant former military policeman Jack Reach...
3    Various chronicles of deception, intrigue, and...
4    The incredible tale about the fantastical evol...
..                                                 ...
995  Follows a neurosurgeon who discovers she is th...
996  A cold case turns topical again and turns ever...
997  Witness the making of Tony Soprano. The story ...
998  A former minor-league basketball coach is orde...
999  When her father unexpectedly dies, young Ella ...

[1000 rows x 1 columns]

In [247]:
df.to_csv("drama.csv")

**HORROR**

In [248]:
driver = webdriver.Edge()

In [249]:
driver.get(f"https://www.imdb.com/search/title/?genres=horror")

In [260]:
soup = BeautifulSoup(driver.page_source,"lxml")

In [261]:
mo =soup.find("ul",class_="ipc-metadata-list ipc-metadata-list--dividers-between sc-315eec58-0 hvFmRn detailed-list-view ipc-metadata-list--base")

In [262]:
data = []
for x in mo.find_all("div",class_= "ipc-html-content-inner-div"):
    data.append(x.text)

In [263]:
len(data)

997

In [264]:
df = pd.DataFrame({"horror": data})
df

                                                horror
0    In an attempt to find a non-violent alternativ...
1    Sheriff Deputy Rick Grimes wakes up from a com...
2    After a global pandemic destroys civilization,...
3    After a group of criminals kidnap the ballerin...
4    Two brothers follow their father's footsteps a...
..                                                 ...
992  Despite his devotion to his hometown of Salem ...
993  A woman with a mysterious illness is forced in...
994  At the scene of a bizarre murder, L.A. homicid...
995  As the world is overrun by zombies, a group of...
996  Inspired by the terrifying story of Robert "Wi...

[997 rows x 1 columns]

In [265]:
df.to_csv("horror.csv")

**MYSTERY**

In [266]:
driver = webdriver.Edge()

In [267]:
driver.get(f"https://www.imdb.com/search/title/?genres=mystery")

In [278]:
soup = BeautifulSoup(driver.page_source,"lxml")

In [279]:
mo =soup.find("ul",class_="ipc-metadata-list ipc-metadata-list--dividers-between sc-315eec58-0 hvFmRn detailed-list-view ipc-metadata-list--base")

In [280]:
data = []
for x in mo.find_all("div",class_= "ipc-html-content-inner-div"):
    data.append(x.text)

In [281]:
len(data)

1049

In [282]:
df = pd.DataFrame({"mystery": data})
df

                                                mystery
0     Anthology series in which police investigation...
1     Widowed mum Maya is disturbed by an image of h...
2     In 1980s Brisbane, a precocious boy and his se...
3     Maya Lopez must face her past, reconnect with ...
4     When oil is discovered in 1920s Oklahoma under...
...                                                 ...
1044  From the moment the new Reverend climbs the pu...
1045  When the owner and operator of a luxurious isl...
1046  Paul is a U.S. truck driver working in Iraq. A...
1047  After a doctor is called to visit a crumbling ...
1048  A simple yet proud farmer in the year 1922 con...

[1049 rows x 1 columns]

In [283]:
df.to_csv("mystery.csv")

**CRIME**

In [284]:
driver = webdriver.Edge()

In [285]:
driver.get(f"https://www.imdb.com/search/title/?genres=crime")

In [286]:
soup = BeautifulSoup(driver.page_source,"lxml")

In [287]:
mo =soup.find("ul",class_="ipc-metadata-list ipc-metadata-list--dividers-between sc-315eec58-0 hvFmRn detailed-list-view ipc-metadata-list--base")

In [288]:
data = []
for x in mo.find_all("div",class_= "ipc-html-content-inner-div"):
    data.append(x.text)

In [289]:
len(data)

999

In [290]:
df = pd.DataFrame({"crime": data})
df

                                                 crime
0    Anthology series in which police investigation...
1    Itinerant former military policeman Jack Reach...
2    Various chronicles of deception, intrigue, and...
3    Widowed mum Maya is disturbed by an image of h...
4    In 1980s Brisbane, a precocious boy and his se...
..                                                 ...
994  Two chained-together escaped convicts, White a...
995  An agoraphobic woman living alone in New York ...
996  A crisis-stricken, morally-compromised first-r...
997  A married couple's life is turned upside down ...
998  Two teenage girls share a unique bond; their p...

[999 rows x 1 columns]

In [291]:
df.to_csv("crime.csv")

**FANTASY**

In [292]:
driver = webdriver.Edge()

In [293]:
driver.get(f"https://www.imdb.com/search/title/?genres=fantasy")

In [294]:
soup = BeautifulSoup(driver.page_source,"lxml")

In [295]:
mo =soup.find("ul",class_="ipc-metadata-list ipc-metadata-list--dividers-between sc-315eec58-0 hvFmRn detailed-list-view ipc-metadata-list--base")

In [296]:
data = []
for x in mo.find_all("div",class_= "ipc-html-content-inner-div"):
    data.append(x.text)

In [297]:
len(data)

1100

In [298]:
df = pd.DataFrame({"fantasy": data})
df

                                                fantasy
0     Demigod Percy Jackson leads a quest across Ame...
1     Nine noble families fight for control over the...
2     In an attempt to find a non-violent alternativ...
3     With dreams of opening a shop in a city renown...
4     Barbie and Ken are having the time of their li...
...                                                 ...
1095  A victim of a brutal attack finds a unique and...
1096  Scooby and the gang face their most challengin...
1097  Inspired by an epic Chinese tale, translated i...
1098  The Fellowship of the Ring embark on a journey...
1099  A poor boy named Arthur learns the power of lo...

[1100 rows x 1 columns]

In [299]:
df.to_csv("fantasy.csv")

In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\DELL\\OneDrive\\Desktop\\edgedriver_win64'